@import url(//db.onlinewebfonts.com/c/d0a687dd2a0803f486cde808245bd3c5?family=Press+Gothic);
@import url(//db.onlinewebfonts.com/c/dc6448e278deb6f5213f3c8d59fc368b?family=FFDINforPumaW01-Regular);

/* parte para mudar a decoração e cor de links */

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

a:visited {
  text-decoration: none;
}

a {
  color: inherit;
}

body {
  overflow: hidden !important;
}
/* fim parte para mudar a decoração e cor de links */

/* parte da tela principal (index.html) */

.background {
  background: url(imagens/the\ casseb\ of\ us\ HD\ 1.jpg);
  height: 100%;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-bottom: 740px solid transparent;
}

.text {
  font-family: "Press Gothic", sans-serif;
  font-size: 5rem;
  font-weight: 300;
  color: white;
}

/* botões da tela principal */
.textb {
  font-family: "FFDINforPumaW01-Regular", sans-serif;
  color: #59595b;
}

.textb:hover {
  color: #eaeddf;
}

.button {
  position: absolute;
  display: flex;
  justify-content: left;
  border-radius: 30px;
  background-color: transparent;
  border: transparent;
  font-size: large;
  top: 100px;
  cursor: pointer;
}

.button:hover {
  animation-name: anima;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.button2 {
  position: absolute;
  display: flex;
  justify-content: left;
  border-radius: 30px;
  background-color: transparent;
  border: transparent;
  font-size: large;
  top: 100px;
  cursor: pointer;
}

.button2:hover {
  animation-name: anima;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.button3 {
  position: absolute;
  display: flex;
  justify-content: left;
  border-radius: 30px;
  background-color: transparent;
  border: transparent;
  font-size: large;
  top: 135px;
  cursor: pointer;
}

.button3:hover {
  animation-name: anima;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.button4 {
  position: absolute;
  display: flex;
  justify-content: left;
  border-radius: 30px;
  background-color: transparent;
  border: transparent;
  font-size: large;
  top: 170px;
  cursor: pointer;
}

.button4:hover {
  animation-name: anima;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* botões da tela principal */

/* fim parte da tela principal (index.html) */

/* parte da tela tutorial */

.background3 {
  background: url(imagens/the\ casseb\ of\ us\ HD\ 1.jpg);
  height: 100%;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-bottom: 740px solid transparent;
}

.button5 {
  position: absolute;
  justify-content: left;
  border-radius: 30px;
  background-color: transparent;
  border: transparent;
  font-size: large;
  top: 100px;
  cursor: pointer;
}

.button5:hover {
  animation-name: anima;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.card2 {
  position: absolute;
  height: 690px;
  width: 700px;
  background-color: rgba(0, 0, 0, 0.479);
  border-radius: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.container2 {
  position: absolute;
  top: 150px;
  left: 10px;
}

.textTutorial {
  font-family: "Press Gothic", sans-serif;
  font-size: 5rem;
  font-weight: 300;
  color: white;
}

/* fim parte da tela tutorial */

/* parte fase jack */

.background2 {
  height: 100%;
  background: black;
  background-position: center;
  background-size: cover;
}

.button6 {
  border-radius: 30px;
  background-color: transparent;
  border: transparent;
  font-size: large;
  cursor: pointer;
}

.button6:hover {
  animation-name: anima;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.cardJack {
  background-color: transparent;
  border-radius: 30px;
  border: transparent;
  width: 30%;
  height: fit-content;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.cardJack:hover {
  cursor: default;
}

.cardJackShake {
  animation: balancar;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.textoJack {
  font-family: "Press Gothic", sans-serif;
  font-size: 6rem;
  font-weight: 300;
  color: white;
}
.textoDica{
  font-family: "Press Gothic", sans-serif;
  font-size: 2rem;
  font-weight: 50;
  color: white;
  position: relative;
}

.textoDicaAdd{
  top: 220px;
  left: 500px;
  animation: aparecerDica 1s ease-in-out;
}
.textoVida {
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 10%;
}
.mapaFaseUm {
  margin-top: 0%;
  font-size: 25px;
  margin-bottom: 10%;
}

.fonte {
  font-family: "FFDINforPumaW01-Regular", sans-serif;
  color: white;
  text-align: center;
}
.fonteTut {
  font-family: "FFDINforPumaW01-Regular", sans-serif;
  color: white;

}

/* fim parte fase jack */

/* animacoes */

@keyframes balancar {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes aparecerDica {
  0% {
    top: -500px; /* posição inicial abaixo da tela */
  }
  100% {
    top: 220px; /* posição final no topo da tela */
  }
}
/* fim animacoes */

.sadseb {
  position: absolute;
  bottom: 125px;
  left: 500px;
}

.cards {
  height: 500px;
  width: 600px;
  background-color: black;
  border-radius: 30px;
}

.posit {
  display: flex;
  justify-content: center;
}


.backgroundBob{
  height: 100%;
  background: rgb(255, 255, 255);
  background-position: center;
  background-size: cover;
}

.sadseb {
  position: absolute;
  bottom: 125px;
  left: 500px;
}

.cards {
  height: 500px;
  width: 600px;
  background-color: black;
  border-radius: 30px;
}

.posit {
  display: flex;
  justify-content: center;
}

/* caracteres */
.espinho{
  color: aqua;
}
.mapaFaseTres {
  font-size: x-small;
}
.parede{
  color: rgb(237, 46, 173);
}
.chave{
  color: rgb(255, 255, 104);
}
.portaF{
  color: rgb(252, 72, 72);
}
